<!DOCTYPE HTML>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout">

<head>
	<title>Turmas</title>
	
	<meta charset="utf-8">
	
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
      
</head>

<body>

<header>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lista de Turmas</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cadastrarTurma" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Turma</a></li>
      </ul>
    </div>
  </nav>

</header>

	
	<table class="container">
		<thead>
			<tr>
				<th>Curso</th>
				<th>Professor</th>
				<th>Sala</th>
				<th>Turno</th>
				<th>Horário</th>
				<th>Deletar</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:each="turma : ${turmas}">
				<td><a th:href="${(#mvc.url('TC#detalhesTurma').arg(0, turma.codigo)).build()}">
				<span th:text="${turma.curso}"></span></a></td>
				<td><span th:text="${turma.professor}"></span></td>
				<td><span th:text="${turma.sala}"></span></td>
				<td><span th:text="${turma.turno}"></span></td>
				<td><span th:text="${turma.horario}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('TC#deletarTurma').arg(0, turma.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	
	
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>