<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>DCE Bilingual Education</title>
<meta charset="utf-8">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<link type="text/css" rel="stylesheet" href="style/styleCss.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="imagem/png" href="img/dcee.png" />

</head>

<body class="indigo lighten-5">

	<header>
	
	<nav class="nav-extended">
		<div class="nave ">
			<div class="nav-wrapper ">
				<a class="brand-logo valign-wrapper " style="margin-left: 38%;" href="/"> 
					<img class="valign-wrapper " style="width: 240px;  margin-top: 7px" src="img/DCE_Menu.png">
				</a>
	
			</div>
				
			<div class="navbar-fixed ">
				<div class="nav-wrapper">     					 
      					
      					<ul class=" hide-on-med-and-down">
							<li><a href="/Home_Aluno" class="waves-effect waves-light hoverable"><i class="material-icons left">home</i>|</a></li>
							<li><a href="cursos" class="waves-effect waves-light hoverable"><i class="material-icons left">view_list</i>Cursos Oferecidos |</a></li>
							<li><a href="/boletinsA" class="waves-effect waves-light hoverable"><i class="material-icons left">view_list</i>Notas |</a></li>
							
						</ul>
						
						<ul class="" style="margin-left: 91%;">
							<li><a href="/logout" class="waves-effect waves-light  btn white hoverable "><span class="indigo-text ">Sair</span></a></li>
						</ul>
      					
    			</div>
    		</div>
				
		</div>		
	</nav>

</header>
		
		<br>
<br>
<br>
		<div class="row card-panel">
		<table class="striped ">
			<thead>
				<tr>
					<th>Nome</th>
					<th>1º Bimestre</th>
					<th>2º Bimestre</th>
					<th>3º Bimestre</th>
					<th>4º Bimestre</th>
					<th>Condição Final</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="boletim : ${boletins}">
					<td><span th:text="${boletim.nome}"></span></td>
					<td><span th:text="${boletim.primeiroBimestre}"></span></td>
					<td><span th:text="${boletim.segundoBimestre}"></span></td>
					<td><span th:text="${boletim.terceiroBimestre}"></span></td>
					<td><span th:text="${boletim.quartoBimestre}"></span></td>
					<td><span th:text="${boletim.condicaoFinal}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<main></main>	
	<footer class="page-footer cor">
		<div class="footer-copyright">
			<div class="container">©Desenvolvido por 
				<a class="hoverable" href="https://www.instagram.com/daryjanee/">Daryjane</a>,
				<a class="hoverable" href="https://www.instagram.com/deboracoosta/">Débora</a>,
				<a class="hoverable" href="https://www.instagram.com/evalter.tallyz/">Evalter</a>.				
				
				<a class="grey-text text-lighten-4 right"	href="https://www.twitter.com"> 
					<img class="valign-wrapper hoverable" style="width: 20px; margin-left: 8px;" src="img/tw.png"></a>
									
				<a class="grey-text text-lighten-4 right"	href="https://www.facebook.com/"> 
					<img class="valign-wrapper hoverable" style="width: 20px; margin-left: 8px; " src="img/face.png">  </a>
					
				<a class="grey-text text-lighten-4 right"	href="https://www.instagram.com/"> 
					<img class="valign-wrapper hoverable" style="width: 20px; margin-left: 8px;" src="img/IG.png">  </a>
			</div>
		</div>
	</footer>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
	</body>
</html>