<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>DCE Bilingual Education</title>
<meta charset="utf-8">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<link type="text/css" rel="stylesheet" href="style/styleCss.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="imagem/png" href="img/dcee.png" />

</head>

<body>

	<header>

		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a class="brand-logo"> DCE Bilingual Education </a>
					<ul class="right hide-on-med-and-down">

						<li><a href="/Home_Aluno" class="waves-effect waves-light "><i class="material-icons">home</i></a></li>
						<li><a href="/" class="waves-effect waves-light "><i class="material-icons left">view_list</i>Turmas Virtuais</a></li>
						<li><a href="/" class="waves-effect waves-light "><i class="material-icons left">view_list</i>Boletim</a></li>
						<li><a href="/logout" class="waves-effect waves-light btn"><i class="material-icons ">Sair</i></a></li>

					</ul>
				</div>
			</nav>

		</div>

	</header>
	
</body>
</html>
